*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.bg-color{
    background: rgba(229, 84, 115, 0.10);
}
.h-container{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 12%;
}
.h-site1{
    width: 300px;
}
.h-site2>img{
    position: absolute;
    top: 45px;
    right: 20%;
    height: 90%;
}

.a-stl{
    text-decoration: none;
    color: #FFFFFF;
    font-size:20px;
}
.btn{
    background:#E55473 ;
    border: 0px;
    height: 38px;
    padding: 8px;
    border-radius: 5px;
}