*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.bg-color{
    background: rgba(229, 84, 115, 0.10);
}
.h-container{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 12%;
}
.h-site1{
    width: 300px;
}
.h-site2>img{
    position: absolute;
    top: 45px;
    right: 20%;
    height: 91.5%;
}

.a-stl{
    text-decoration: none;
    color: #FFFFFF;
    font-size:20px;
}
.btn{
    background:#E55473 ;
    border: 0px;
    height: 38px;
    padding: 8px;
    border-radius: 5px;
}
/* header finished */
.section-area1{
    margin-top: 80px;
}
.step1{
    width: 400px;
    text-align: center;
}
.h2-p-tag-center{
    display: flex;
    justify-content: center;
}
.flower-flex{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 50px;

}
.bg-tulip{
    height: 264px;
    background: ;

}
#bgC1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 200px;
}
#bgC2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 200px;
}
#bgC3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 200px;
}
.anchorCenter{
    text-align: center;
}

.anchorSize{
    font-size: 12px;
}
.section-area2{
    margin: 80px;
    background-color:#2727270D ;
}
.area2-flex{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 30px;
}